@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 /* BLOOD DRIP */
.blood-drip {
  width: 100%;
  height: 100%;
  background: linear-gradient(#7a0000, transparent);
  position: relative;
}

.blood-drip::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 60px;
  background: #7a0000;
  left: 30%;
  top: 60%;
  border-radius: 50px;
  animation: drip 2s infinite;
}

@keyframes drip {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(50px); opacity: 0; }
}

/* GHOST FLOAT */
@keyframes ghostFloat {
  0% { transform: translateY(0); }
  50% { transform: translateY(25px); }
  100% { transform: translateY(0); }
}

.animate-ghost {
  animation: ghostFloat 5s infinite ease-in-out;
}

/* FLICKER TEXT */
@keyframes flicker {
  0%, 100% { opacity: 1; text-shadow: 0 0 25px red; }
  50% { opacity: 0.2; text-shadow: 0 0 5px red; }
}

.animate-flicker {
  animation: flicker 1.5s infinite;
}

/* SHAKING TEXT */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 1s infinite;
}

/* HEARTBEAT */
@keyframes heartbeat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.15); color: #ff0000; }
}

.animate-heartbeat {
  animation: heartbeat 1.3s infinite;
}

/* BLOOD SHADOW FLOW */
@keyframes dripShadow {
  0% { opacity: .8; }
  50% { opacity: .3; }
  100% { opacity: .8; }
}

.animate-dripShadow {
  animation: dripShadow 2s infinite;
}
/* Eye Blink */
@keyframes blink {
  0%, 90%, 100% { opacity: 1; }
  95% { opacity: 0; }
}

.animate-eye {
  animation: blink 3s infinite;
}

/* Horror Fog */
.fog {
  background: url("https://i.ibb.co/hMFsQ0s/fog.png");
  background-size: cover;
  filter: blur(2px);
  animation: fogMove 12s infinite linear;
  opacity: 0.25;
}

@keyframes fogMove {
  from { transform: translateX(-20px); }
  to { transform: translateX(40px); }
}

/* Thunder Flash */
.flash-overlay {
  animation: flash 6s infinite;
}

@keyframes flash {
  0% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 0.5; }
  52% { opacity: 0; }
}

/* Screen Shake when moving mouse */
.horror-shake {
  animation: shakemove 0.2s;
}

@keyframes shakemove {
  0% { transform: translate(0); }
  50% { transform: translate(-4px, 4px); }
  100% { transform: translate(0); }
}
